// // @import '/src/sass/utils/variables';

// .btn {
//   width: 220px;
//   height: 50px;
//   font-size: 15px;
//   border: none;
//   outline: none;
//   color: white;
//   background: #111;
//   cursor: pointer;
//   position: relative;
//   z-index: 0;
//   border-radius: 10px;
//   transition: transform 0.3s ease, background 0.3s ease; // Плавный переход для увеличения

//   &:before {
//     content: '';
//     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
//     position: absolute;
//     top: -2px;
//     left: -2px;
//     background-size: 400%;
//     z-index: -1;
//     filter: blur(5px);
//     width: calc(100% + 4px);
//     height: calc(100% + 4px);
//     animation: glowing 20s linear infinite; // Убираем анимацию по умолчанию
//     opacity: 0; // Градиент изначально скрыт
//     transition: opacity .3s ease-in-out; // Плавный переход для появления градиента
//     border-radius: 10px;
//   }

//   &:hover:before {
//     opacity: 1;
//   }

//   &:active {
//     background: #111; // Черный фон при нажатии
//     transform: scale(1.05); // Увеличиваем кнопку при нажатии
//     color: #fff; // Цвет текста при нажатии
//     &:before {
//       opacity: 0; // Скрываем градиент при нажатии
//       animation: none; // Убираем анимацию при нажатии
//     }
//   }

//   &:after {
//     z-index: -1;
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: #737373; // Черный фон
//     left: 0;
//     top: 0;
//     border-radius: 10px;
//   }
// }

// @keyframes glowing {
//   0% { background-position: 0 0; }
//   50% { background-position: 400% 0; }
//   100% { background-position: 0 0; }
// }


